.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  padding: 5px;
}

.parent {
    border: 1px solid black;
}

.child {
    border: 1px solid red;
    background-color: lightcoral;
}

.child div {
    border: 1px solid blue;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    .parent, .child {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 360px) {
    .parent, .child {
        grid-template-columns: auto;
    }
}
